
body{
    background-image: url('../images/homepage-background.png');
    background-size: cover;
}

/* Login & Register page */
#loginPage .container, #registerPage .container{
    padding-top: 5vh;
    width: 40vw;

    text-align: center;
    color: rgb(151, 151, 151);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial';
    background: linear-gradient(to bottom, rgba(31, 31, 31, 1), rgba(31,31,31,0.7));
    border-radius: 3vw;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginPage a, #registerPage a{
    color: rgb(151, 151, 151);
}
#loginPage a:hover, #registerPage a:hover{
    color: rgb(100, 100, 100);
}

#loginForm input, #registerPage input{
    width: 15vw;
    height: 3vh;

    text-align: center;
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    border-radius: 3vw;
}

#loginForm, #registerForm {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#loginForm > *, #registerForm > *{
    margin: 10px;
}

#loginForm button, #registerForm button{
    width: 10vw;
    height: 4vh;

    font-weight: bold;
    background-color: rgb(151, 151, 151);
    border-radius: 1vw;
}

#loginForm button:hover, #registerForm button:hover{
    background-color: grey;
}

#loginResponse, #registerResponse {
    color: rgb(161, 0, 0)
}


/* Single training page */
.trainingTable{
    border: 2px solid black;
    border-collapse: collapse;
}

.trainingTable tr{
    border: 1px solid black;
}

.trainingTable td{
    text-align: center;
    padding: 10px;
}

.trainingTable th{
    padding-left: 10px;
    padding-right: 10px;
}
