<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <!-- Filled by server.ts -->
        <title>
            Training - <%= trainingDate %>
        </title>
    </head>
    <body>
        <div id="main-container">
            <div id="main-controller">
                <button id="left-button" class="button" onClick="location.href='/dashboard'">Back</button>
                <h1 id="training-date">
                    <!-- Filled by server.ts -->
                    <%= trainingDate %>
                </h1>
                <button id="right-button" class="button" onClick="toggleModal(true)">+</button>
            </div>
            <div id="main-training">
                <!-- Filled by training.js -->
            </div>
        </div>
        <div id="create-training-modal">
            <h1>Create training</h1>
            <!-- workoutType workoutPlan (type, weight_load, sets, repetitions, extraInformation) -->
            <form id="trainingForm">
                <label for="workoutType">Workout type:</label><br>
                <input type="text" id="workoutType" name="workoutType" required placeholder="Gym"><br>
                <label for="workoutPlan">Workout plan:</label><br>
                <button class="button" onClick="addExercise()" type="button">+</button>
                <table id=workoutPlan>
                    <tr>
                        <th>Type</th>
                        <th>Weight load</th>
                        <th>Sets</th>
                        <th>Repetitions</th>
                    </tr>
                    <!-- TODO: Generate appropriate number of fields -->
                </table>
                <label for="extraInformation">Extra information:</label><br>
                <textarea id="extraInformation" name="extraInformation"></textarea><br>
                <button class="button" type="submit">Add</button>
                <button class="button" onClick="toggleModal(false)" type="button">Close</button>
            </form>
        </div>
        <script src="../js/training.js"></script>
    </body>
</html>