<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Gym scheduler</title>
    </head>
    <body>
        <div id="main-menu">
            <img src="images/logout.png" onClick="signOut()" alt="Sign out">
            <img src="images/calendar.png" onClick="myDashboard()" alt="Dashboard">
            <img src="images/user.png" onClick="myAccount()" alt="My account">
        </div>
        <div id="main-user-info" class="scrollable-container">
            <h1>My account</h1>
            <table id="userInfo">
                <tr>
                    <th>Age</th>
                    <th>Weight [kg]</th>
                    <th>Height [cm]</th>
                </tr>
                <tr>
                    <td id="userAge"></td>
                    <td id="userWeight"></td>
                    <td id="userHeight"></td>
                </tr>
            </table>
        </div>
        <div id="main-footer">
            
        </div>
        <script src="js/user.js"></script>
        <script src="js/utils.js"></script>
    </body>
</html>